@{
    ViewBag.Title = "Chris Wahl";
}

<div class="container-fluid main-content">
    <div class="main-text">
        <div class="row justify-content-center align-middle">
            <h1 class="head">Chris Wahl</h1>
        </div>
        <div class="row justify-content-center">
            <div class="sub-head">.NET Web Developer</div>
        </div>
    </div>
</div>