@{
    ViewBag.Title = "Chris Wahl";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Chris Wahl</h1>
            <h3>Web Developer</h3>
            <hr>
            <p>Hi my name is Chris Wahl. I'm 30 years old and I live in Sioux Falls, South Dakota. I just recently started my career as a Web Developer and thought I should put a website up.
                Mostly just for me to mess around and host personal projects on. Enjoy!
            </p>
        </div>
    </div>
</header>